In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Bad key "text.kerning_factor" on line 4 in
C:\Users\anshul\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
train_df = pd.read_csv("./Dataset/Train.csv")

In [3]:
train_df = train_df.drop('Employee_ID' , axis=1)

In [4]:
train_df.head()

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,33,...,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,36,...,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,51,...,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,56,...,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,62,...,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Gender                     7000 non-null   object
 1   Age                        6588 non-null   float64
 2   Education_Level            7000 non-null   int64
 3   Relationship_Status        7000 non-null   object
 4   Hometown                   7000 non-null   object
 5   Unit                       7000 non-null   object
 6   Decision_skill_possess     7000 non-null   object
 7   Time_of_service            6856 non-null   float64
 8   Time_since_promotion       7000 non-null   int64
 9   growth_rate                7000 non-null   int64
 10  Travel_Rate                7000 non-null   int64
 11  Post_Level                 7000 non-null   int64
 12  Pay_Scale                  6991 non-null   float64
 13  Compensation_and_Benefits  7000 non-null   object
 14  Work_Life_balance          6989 non-null   float64
 15  VAR1                       7000 non-null   int64
 16  VAR2                       6423 non-null   float64
 17  VAR3                       7000 non-null   float64
 18  VAR4                       6344 non-null   float64
 19  VAR5                       7000 non-null   int64
 20  VAR6                       7000 non-null   int64
 21  VAR7                       7000 non-null   int64
 22  Attrition_rate             7000 non-null   float64
dtypes: float64(8), int64(9), object(6)
memory usage: 1.2+ MB

In [6]:
train_df.Age = train_df.Age.fillna(train_df.Age.mean())

In [7]:
train_df.Time_of_service = train_df.Time_of_service.fillna(train_df.Time_of_service.mean())

In [8]:
train_df.Pay_Scale = train_df.Pay_Scale.fillna(train_df.Pay_Scale.mean())

In [9]:
train_df.Work_Life_balance = train_df.Work_Life_balance.fillna(train_df.Work_Life_balance.mean())

In [10]:
train_df.VAR2 = train_df.VAR2.fillna(train_df.VAR2.mean())

In [11]:
train_df.VAR4 = train_df.VAR4.fillna(train_df.VAR4.mean())

In [12]:
cat_col = ["Gender" , "Relationship_Status" , "Hometown" , "Unit" , "Decision_skill_possess" , "Compensation_and_Benefits"]

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for i in cat_col:
    train_df[i] = le.fit_transform(train_df[i])

In [14]:
mx_arr = train_df.max()

In [15]:
train_df.shape

(7000, 23)

In [16]:
mx_arr[22] = 1.00
mx_arr

Gender                        1.0000
Age                          65.0000
Education_Level               5.0000
Relationship_Status           1.0000
Hometown                      4.0000
Unit                         11.0000
Decision_skill_possess        3.0000
Time_of_service              43.0000
Time_since_promotion          4.0000
growth_rate                  74.0000
Travel_Rate                   2.0000
Post_Level                    5.0000
Pay_Scale                    10.0000
Compensation_and_Benefits     4.0000
Work_Life_balance             5.0000
VAR1                          5.0000
VAR2                          1.6081
VAR3                          1.8688
VAR4                          3.0000
VAR5                          5.0000
VAR6                          9.0000
VAR7                          5.0000
Attrition_rate                1.0000
dtype: float64

In [17]:
train_df = train_df / mx_arr

In [18]:
train_output = train_df['Attrition_rate']

In [19]:
train_df = train_df.drop('Attrition_rate' , axis=1)

In [20]:
train_df.shape

(7000, 22)

In [21]:
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.models import Model

In [22]:
#Creating Model

inp_vect = layers.Input(shape=(22,))

#x = layers.Dense(11 , activation='relu')(inp_vect)

#x = layers.Dense(11 , activation='relu')(x)

output = layers.Dense(1 , activation='relu')(inp_vect)

model = Model(inp_vect , output)

In [23]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 22)]              0
_________________________________________________________________
dense (Dense)                (None, 1)                 23
=================================================================
Total params: 23
Trainable params: 23
Non-trainable params: 0
_________________________________________________________________

In [24]:
model.compile(loss='mean_squared_error' , optimizer='adam' )

In [39]:
model.fit(train_df , train_output , epochs=13 , verbose=1)

Train on 7000 samples
Epoch 1/13
7000/7000 [==============================] - 1s 97us/sample - loss: 0.0348
Epoch 2/13
7000/7000 [==============================] - 0s 65us/sample - loss: 0.0348
Epoch 3/13
7000/7000 [==============================] - 0s 65us/sample - loss: 0.0347
Epoch 4/13
7000/7000 [==============================] - 0s 65us/sample - loss: 0.0346
Epoch 5/13
7000/7000 [==============================] - 0s 66us/sample - loss: 0.0347
Epoch 6/13
7000/7000 [==============================] - 0s 66us/sample - loss: 0.0346
Epoch 7/13
7000/7000 [==============================] - 0s 65us/sample - loss: 0.0346
Epoch 8/13
7000/7000 [==============================] - 0s 65us/sample - loss: 0.0346
Epoch 9/13
7000/7000 [==============================] - 0s 66us/sample - loss: 0.0347
Epoch 10/13
7000/7000 [==============================] - 0s 66us/sample - loss: 0.0346
Epoch 11/13
7000/7000 [==============================] - 0s 66us/sample - loss: 0.0347
Epoch 12/13
7000/7000 [==============================] - 1s 72us/sample - loss: 0.0346
Epoch 13/13
7000/7000 [==============================] - 0s 67us/sample - loss: 0.0346

In [40]:
test_df = pd.read_csv("./Dataset/Test.csv")

In [41]:
e_id = test_df['Employee_ID']

In [42]:
test_df = test_df.drop('Employee_ID' , axis=1)

In [43]:
for i in cat_col:
    test_df[i] = le.fit_transform(test_df[i])

In [44]:
test_df.shape

(3000, 22)

In [45]:
test_arr = mx_arr[:-1]

In [46]:
mx_arr.shape

(23,)

In [47]:
test_arr.shape

(22,)

In [48]:
test_df = test_df / test_arr

In [49]:
test_out = model.predict(test_df)

In [50]:
test_out = test_out.reshape(test_out.shape[0])

In [51]:
new_df = pd.DataFrame({'Employee_ID' : e_id , 'Attrition_rate' : test_out})

In [52]:
new_df.to_csv('out_file.csv' , index=False)